:root {
  --ff-default: "Quicksand", sans-serif;
  --gap: 1rem;

  --clr-text-default: #dee2e6;
  --clr-bg-default: #000000;
}

body {
  font-family: var(--ff-default);
  color: var(--clr-text-default);
  background-color: var(--clr-bg-default);
  margin: 0;
}

header > h2 {
  font-size: clamp(1.75rem, 0.6662rem + 4.6243vw, 4.25rem);
  font-weight: 700;
  text-transform: uppercase;
  border-block: 0.2em dotted;
  padding-inline: 0.5em;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: var(--gap);
}

.wrapper {
  width: min(100% - 2rem, 1000px);
  margin-inline: auto;
}

header {
  padding: var(--gap);
}

.quicksand-slim {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-medium {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-bold {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-gap {
  gap: var(--gap);
}

.nav-item {
  text-transform: uppercase;
}

.navbar-toggler {
  border: 1px solid var(--clr-text-default);
  border-radius: 0.25rem;
  padding: 0.5em;
  position: absolute;
  top: var(--gap);
  left: var(--gap);
}

.navbar-toggler:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .5);
}

@media screen and (min-width: 576px) {
  .flex {
    align-items: center;
  }
  .nav-item {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .flex-col {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: flex;
  }
  .nav-item {
    width: fit-content;
  }
}