.event-container {
  background-image: url(/images/open-stage-2023_650.jpg);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-image1 {
  background-image: url(/images/open-stage-2023_650.jpg);
}
.event-image2 {
  background-image: url(/images/PUNK-NUN_650.jpg);
}
.event-image3 {
  background-image: url(/images/WB_gbg_hi_650.jpg);
}
.event-image4 {
  background-image: url(/images/the-shivas-650-x-300-px.png);
}
.event-image5 {
  background-image: url(/images/thaiconcert_650.jpg);
}
.event-image6 {
  background-image: url(/images/Musikens-Hus-40-ar650-x-300-px-1170x400.png);
}
